{%block content%}
<!DOCTYPE html>
<html>
    <head>
        <title>ABOUT</title>
        <style>
            body{
                background-color: rgb(12, 64, 110);
            }
        </style>
    </head>
    <body>
        <div>
            <h2 style="font-size: 60pt;color: rgb(231, 231, 222);">Sunil Kumar PatchWorks </h2>
            <h2 style="font-size: 40pt;color:rgb(240, 236, 232)">ABOUT US ..</h2>
              
           <h3 style="font-size: 20pt;color:rgb(240, 236, 232)">Electrical:</h3>
            <h4 style="font-size: 20pt;color:rgb(240, 236, 232)">With a commitment to excellence, our electrical services embody precision and safety.<br> From wiring installations to circuit breaker upgrades, we deliver solutions that power your spaces efficiently. <br>Our experienced team ensures every project is executed with the highest standards,<br> providing reliable and secure electrical systems for homes and businesses.</h4>

            <h3 style="font-size: 20pt;color:rgb(240, 236, 232)">Plumbing:</h3>
            <h4 style="font-size: 20pt;color:rgb(240, 236, 232)">At the heart of our plumbing services is a dedication to seamless water distribution and waste removal.<br> Our skilled plumbers tackle everything from pipe installations to fixture repairs, ensuring optimal functionality. With an emphasis on efficiency and integrity,<br> we deliver plumbing solutions that prioritize hygiene and environmental responsibility, ensuring a reliable water flow for your daily needs.</h4>
            <button  type="button" onclick="window.location.href=`{% url 'home' %}`">BACK TO HOME PAGE </button>




                    
            </p>
        </div>
    </body>
</html>
{%endblock%}