<!DOCTYPE html>
<html>
    <head>
        <title>INFORMATION..</title>
        <style>
            body{
                background-image:url("https://thumbs.dreamstime.com/b/business-concept-businesswoman-contact-us-business-concept-businesswoman-contact-us-vector-illustration-140349965.jpg") ;
                background-repeat: no-repeat;
                background-size: cover;
            }
        </style>
    </head>
    <body>
        <div>
            <h1 style="font-size: 80pt;color:beige">...</h1>
            <h2 style="font-size: 60pt;color: rgb(17, 17, 14);">office address : </h2>
            <p style="font-size: 40pt;color:rgb(26, 24, 22)">Sunil Kumar patch works..<br>
               no.34,<br>
               kamarajar theruu,<br>
               tharavi street<br>
               mumbai main road,<br>
               mumbai.<br>
               pin:978876<br>
               contact:9590644289 | 9876543210
               
                    
            </p>
            <button  type="button" onclick="window.location.href=`{% url 'home' %}`">BACK TO HOME PAGE </button>
        </div>
    </body>
</html>